<div class="row">
  <div class="col-md-8">
    <h2 class="text-left mb-4">TV Series</h2>
    <table class="table table-striped table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Channel</th>
          <th>Seasons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let serie of seriesList">
          <td>{{ serie.id }}</td>
          <td>
            <a href="#" (click)="onSelect(serie)" style="color: #007bff; cursor: pointer">
              {{ serie.name }}
            </a>
          </td>
          <td>{{ serie.channel }}</td>
          <td>{{ serie.seasons }}</td>
        </tr>
      </tbody>
    </table>
    <p><strong>Seasons average:</strong> {{ averageSeasons }}</p>
  </div>

  <div class="col-md-4" *ngIf="selectedSerie">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="selectedSerie.image" [alt]="selectedSerie.name">
      <div class="card-body">
        <h5 class="card-title">{{ selectedSerie.name }}</h5>
        <p class="card-text">{{ selectedSerie.description }}</p>
        <a [href]="selectedSerie.link" class="card-link" target="_blank">{{ selectedSerie.link }}</a>
      </div>
    </div>
  </div>
</div>
